---
layout: default
---

<div class="home">

    <ul class="post-list">
        {% for post in site.posts limit:20 %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>

            {% if post.photo_url %}
            <img src="{{ post.photo_url }}">
            {% endif %}

            {{ post.excerpt }}

        </li>
        {% endfor %}
    </ul>

</div>